[submodule "digital_chassis/USP/Middlewares/abstract_class_library"]
	path = digital_chassis/USP/Middlewares/abstract_class_library
	url = https://git.scutbot.cn/WhiteNight/abstract_class_library
[submodule "digital_Power_LibraryFile"]
	path = digital_Power_LibraryFile
	url = https://git.scutbot.cn/Embedded/digital_Power_LibraryFile
[submodule "digital_chassis/SRML"]
	path = digital_chassis/SRML
	url = https://git.scutbot.cn/WhiteNight/SRML_V2
[submodule "digital_chassis/USP/middleware_template"]
	path = digital_chassis/USP/middleware_template
	url = https://git.scutbot.cn/WhiteNight/middleware_template
